/* Global Styles */

body {
  /* Set background texture */
  background-image: url('https://raw.githubusercontent.com/Thorj4k/EscrowSC/main/4232288.jpg');
  background-repeat: repeat; /* Repeat the texture */
  background-size: cover; /* Adjust the background image size to cover the entire body */
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Header Styles */

header {
  background-color: #343a40;
  color: white;
  padding: 10px 0;
}

h1 {
  margin: 0;
}

/* Button Styles */

.btn {
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

/* Card Styles */

.card {
  border: 1px solid #ddd;
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  margin-bottom: 20px;
}

/* Form Styles */

.form-group {
  margin-bottom: 20px;
}

/* Advertising Banner Styles */

.advertising-banner-top,
.advertising-banner-bottom {
  padding: 8px;
  font-size: 18px; /* Double the font size */
  background-color: #f8f9fa;
  color: #343a40;
  border-radius: 10px; /* Rounded corners */
}

/* Main Page Statistics Styles */

#mainPageStats {
  background-color: #f8f9fa;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px; /* Rounded corners */
}

/* Marquee Styles */

marquee {
  font-size: 18px;
  white-space: nowrap;
}

/* Deal Information Section Styles */

#dealDetailsSection {
  background-color: #f8f9fa;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px; /* Rounded corners */
}

/* Additional Styles for Larger Screens */

@media (min-width: 768px) {
  body {
    padding: 50px;
  }
}
